<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Styles/howtoplay.css">
    <link rel="icon" type="image/png" href="../img/Falcon_icon.png" sizes="64x64" />
  <title>EPIC Battle!</title>
</head>

<body>
  <nav>
    <a id="menu" href="../templates/index.html"><p>Menu</p></a>
    <img src="../Img/StarWars_logo.jpg">
    <a id="How" href=".../Pvc/pvc.html"><p>How to play</p></a>
  </nav>

  <div id="main">
    <article>
      <h1>How to play</h1>
      <h2>You can select your game mode </h2>
        <p>One player (Challenge Darth Vader)</p>
        <p>Two players (Sith vs Jedi)</p>
      <h2>Select your weapon</h2>
        <p>You can choose from tree options:</p>
        <h4>-Lightsaber</h4>
        <h4>-Blaster</h4>
        <h4>-The Force</<h4></h4>>
    </article>
    <div>
      <h3><p class="lightsaber">Lightsaber</p> wins vs <p class="blaster">Blaster</p></h3>
      <h3><p class="blaster">Blaster</p> wins vs <p class="force">The Force</p></h3>
      <h3><p class="force">The Force</p> wins vs <p class="lightsaber">Lightsaber</p></h3>
    </div>
  </div>

</body>

</html>
