<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="icon" type="image/png" href="../img/imperial_icon.png" sizes="64x64" />
  <title>EPIC Battle!</title>
</head>

<body>
  <nav>
    <a id="menu" href="../templates/index.html"><p>Menu</p></a>
    <img src="../img/StarWars_logo.jpg">
    <a id="How" href="../templates/howtoplay.html"><p>How to play</p></a>
  </nav>

  <div id="centro">
    <h1>Rock - Paper - Scissors</h1>
  </div>

  <div id="main">
      <a id="two" class="rival" href="../templates/pvp.html">
        <img class="jugador" src="../img/sith_index3.jpg" />
        <div class="boton vs"> <p>Sith vs Jedi</p></div>
        <img class="jugador" src="../img/Jedi_un_jugador.jpg">
      </a>

    <a id="one" class="rival" href="../templates/pvc.html">
      <img id="Vader" src="../img/Vader_index2.jpg">
      <div class="boton v"><p>Challenge Darth vader </p></input>
    </div>
    </a>
  </div>
  <p id="edition">Imperial edition</p>

  <audio id="lig" src="../sound/lightsaber.wav"></audio>
  <audio id="mask" src="../sound/respirator.wav"></audio>

  <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../js/sound.js"> </script>

</body>
</html>
