<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/pvc.css">
  <link rel="icon" type="image/png" href="../img/Darth_Vader_icon.png" sizes="64x64" />
  <title>EPIC Battle!</title>
</head>

<body>
  <nav>
    <a id="menu" href="../templates/index.html"><p>Menu</p></a>
    <img src="../img/StarWars_logo.jpg">
    <a id="How" href="../templates/howtoplay.html"><p>How to play</p></a>
  </nav>

  <div id="centro">
    <h1>Choose your weapon</h1>
  </div>

  <div id="main">

        <a id="Lightsaber" class="Armas vs" href="../templates/pvc_results/lightsaber.html">
          <h1>Lightsaber</h1>
        </a>
        <a id="Blaster" class="Armas pvcb" href="../templates/pvc_results/blaster.html">
          <h1>Blaster</h1>
        </a>
        <a id="Force" class="Armas pvcf" href="../templates/pvc_results/force.html">
          <h1>The force</h1>
        </a>

  </div>

  <audio id="blr" src="../sound/blaster.wav"></audio>
  <audio id="lig" src="../sound/lightsaber.wav"></audio>
  <audio id="foc" src="../sound/force.wav"></audio>

  <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../js/sound.js"> </script>
</body>
</html>
